/* body {
  background-color: #4D5D53;  this is called "Feldgrau" from https://cssgradient.io/shades-of-green/ and its the best color ever 
} */

a:link {
  color: rgb(68, 68, 68);
  background-color: transparent;
  text-decoration: underline;
  font-size: 24px;
}

a:visited {
  color: rgb(68, 68, 68);
  background-color: transparent;
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  font-size: 24px;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  font-size: 24px;
}